
body {
	background-color: #80deea;
}

h2 {
	font-family: 'Ubuntu', sans-serif;
	color: white;
	font-weight: bold;
}
navbar {
	background-color: black;
	z-index: .1;
	font-family: 'Ubuntu', sans-serif;
}

navbar ul li a {
	color: white;
	font-size: 15px;
	font-weight: bold;
	padding: 15px 20px;
}

navbar ul li a:hover {
	color: black;
	background-color: white;
	border-radius: 15px;
}

